<img class="img-thumbnail rounded-circle" src="{{ProfileUser.profilepic}}">
<div class="dp-text profile-info ml-3">
        <a *ngIf="ProfileUser.user" href="#">{{ ProfileUser.user.username }}</a> 
</div>

<div>
    <p> Suggestions for you </p>   
    <div *ngFor="let profile of ProfileList">        
        <img class="img-thumbnail rounded-circle smaller-profile-pic mw-100" src="{{ profile.profilepic }}">
        <a *ngIf="profile.user" class="dp-text" href="#">{{ profile.user.username }}</a>
    </div> 
</div>
